<!DOCTYPE html>
<h2><b>Detail of a Store</b></h3>
<hr>
<h3><b>{{store.storename}}</b></h4>
<br>
<br>
<h5 id="address">
{{store.store_address}}, {{store.store_state}}, {{store.store_zipcode}}
</h5>
<br>

{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}

<div id="map"></div>
    <script>
    function initMap() {
        var geocoder = new google.maps.Geocoder();
        var address = document.getElementById('address').innerHTML;
        console.log(address);
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == 'OK') {
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: results[0].geometry.location
            });
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
            google.maps.event.trigger(map, "resize")
          }
           else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCyf3Hrk4e-1pUqIBsiYenAR8G-nd-bxY&callback=initMap">
</script>

<h5 id='financial'>
Revenue: ${{store.revenue}}
Cost: ${{store.cost}}
Profit: ${{store.profit}}

</h5>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
		<th>Item Name</th>
		<th>Description</th>
		<th>Retail Cost</th>
    <th>Wholesale Cost</th>
    <th>Stock Left</th>
    <th>Number Sold</th>
    </tr>
	</thead>
	<tbody>
		{{#if item}}
			{{#each item}}
			<tr>
			<td>{{this.itemname}}</td>
			<td>{{this.description}}</td>
			<td>{{this.retail_cost}}</td>
      <td>{{this.wholesale_cost}}</td>
      <td>{{this.stock_left}}</td>
      <td>{{this.num_sold}}</td>
			</tr>
			{{/each}}
		{{/if}}
	</tbody>
</table>

<form method="POST" action="" class="additem">
	<div>
		<label for="itemname">Item Name:</label>
		<input type="itemname" id="itemname" name="itemname" value="">
	</div>
	<div>
		<label for="description">Description:</label>
		<input type="description" id="description" name="description" value="">
	</div>
	<div>
		<label for="retail_cost">Retail cost:</label>
		<input type="retail_cost" id="retail_cost" name="retail_cost" value="">
	</div>
	<div>
		<label for="wholesale_cost">Wholesale Cost:</label>
		<input type="wholesale_cost" id="wholesale_cost" name="wholesale_cost" value="">
	</div>
	<div>
		<label for="stock_left">Stock Left:</label>
		<input type="stock_left" id="stock_left" name="stock_left" value="">
	</div>
	<div>
		<label for="num_sold">Number Sold:</label>
		<input type="num_sold" id="num_sold" name="num_sold" value="">
	</div>
	<input type="submit" name="additem" value="Add Item"> <input type="submit" name="updateitem" value="Update Item">
  <input type="submit" name="removeitem" value="Remove Item">
</form>



<form method="POST" action="" class="manage">
	<div>
		<label for="store_address">Address:</label>
		<input type="store_address" id="store_address" name="store_address" value="">
	</div>
	<div>
		<label for="store_state">State:</label>
		<input type="store_state" id="store_state" name="store_state" value="">
	</div>
	<div>
		<label for="store_zipcode">Zipcode:</label>
		<input type="store_zipcode" id="store_zipcode" name="store_zipcode" value="">
	</div>
	<input type="submit" name="update" value="Update"> <input type="submit" name="remove" value="Remove Store from List">
  <br>
  <br>
  You must type same item properties to update&delete its information.
  <br>
  All blanks must be filled!
</form>


</html>
