<!DOCTYPE html>
<h3><b>Details about {{thisuser.username}}</b></h3>

<h6 id='userinfo'>
Username: {{thisuser.username}}<br>
Revenue: ${{thisuser.revenue}}<br>
Cost: ${{thisuser.cost}}<br>
Profit: ${{thisuser.profit}}<br>

</h4>
</html>
